* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: aileron, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

ul {
  padding: 0;
}
/* #cursor {
  position: absolute;
  z-index: 100;
  width: 10px;
  height: 10px;
  background-color: #13e3db;
  transition: 0.1s;
  transform: translate(-50%,-50%);
  border-radius: 50px;
  pointer-events: none;
} */

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header_title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
}

.me_img {
  position: relative;
}

.me_draw {
  width: 250px;
}

.draw_circle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #13e3db;
}

.next-button {
  display: block;
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px 50px 0 0;
  background-color: #13e3db;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.6rem;
  color: #fff;
  padding: 3px 0 0 3px;
}
