.menu {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 50;
  width: 100vw;
  background-color: #ec1c24;
  text-align: center;
  padding-top: 100px;
  transition: 0.5s;
  transform: translateX(-100vw);
}

.menu-show {
  transform: translateX(0px);
}

.menu_logo {
  width: 80px;
}

.dsktp {
  display: none;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60%;
}

.menu_li {
  color: #fff;
  font-weight: 400;
  display: block;
  margin: 15px 0;
  font-size: 1rem;
  letter-spacing: 10px;
}

.menu_li-noticias {
  font-weight: 600;
  display: block;
  margin: 20px 0;
  font-size: 1.6rem;
}

/* .menu_scroll-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #ec1c24;
  z-index: 100;
} */

.hamburger_div {
  position: fixed;
  display: block;
  left: 0px;
  top: 0px;
  background: #ec1c24;
  padding: 14px 10px 12px 10px;
  z-index: 99;
  width: 46px;
  transition: 0.3s ease-out;
  text-align: right;
  border-radius: 0px 50px 50px 50px;
}

.hamburger_div-hide {
  top: -44px;
}

.hamburger_div-show {
  top: 0;
}



/* .hamburger_div-slide {
  left: 85vw;
} */

.menuicon {
  background-color: #fff;
  height: 3px;
  width: 100%;
  margin-bottom: 3px;
  transition: 0.3s;
  float: right;
}

.menuicon_first {
  transform: rotate(45deg) translateX(1px) translateY(-5px);
  transform-origin: top left;
}

.menuicon_second {
  opacity: 0;
}

.menuicon_third {
  transform: rotate(-45deg) translateX(1px) translateY(5px);
  transform-origin: bottom left;
}

.menuicon-red {
  background-color: #ec1c24;
}

.menuicon-white {
  background-color: #fff;
}

.menuicon-white-section {
  background-color: #fff;
}

.menu-description {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-size: 0.5rem;
}


@media (min-width: 1000px) and (orientation: landscape) {

  .menu {
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 50;
    padding: 0px;
    width: 100%;
    background: none;
    transform: translateX(0px);
  }

  .menu_logo {
    width: 45px;
  }

  .menu_logo.dsktp {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 30px;
    top: 20px;
  }

  .menu_logo.mobile {
    display: none;
  }

  .menu ul {
    position: absolute;
    top: 10px;
    right: 3vw;
    display: inline-block;
    vertical-align: middle;
  }

  .menu_li {
    font-size: 0.75rem;
    font-weight: 200;
    color: #ec1c24;
    display: inline-block;
    margin: 0 15px;
    transition: 0.4s;
    letter-spacing: 5px;
  }

  .menu_li-noticias {
    font-size: 0.75rem;
    font-weight: 600;
    display: inline-block;
    margin-left: 10px;
    letter-spacing: 2px;
  }

  .menu_li:hover {
    background-color: #ec1c24;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    box-shadow: -3px 4px #13e3db;
  }

  .menu_scroll-mobile {
    display: none;
  }

  .hamburger_div {
    display: none;
  }

  /* PRUEBAS PAGES MENU */

  .pruebas_menu {
    display: inline-block;
    background-color: #97bcd3;
    padding: 30px 25px;
    position: absolute;
    margin-top: 100px;
  }

  .pruebas_menu_link {
    color: #fff;
    font-size: 0.75rem;
  }

  .sticky {
    position: fixed;
    top: 0;
  }

  .pruebas_menu_link-active {
    font-weight: 700;
    font-size: 0.8rem;
  }

  .menu-description {
    display: inline-block;
    text-align: left;
    position: absolute;
    left: 100px;
    top: 25px;
    color: #ec1c24;
  }
}
