@media (min-width: 740px) and (orientation: portrait) {

}

@media (min-width: 1000px) and (orientation: landscape) {

  body {
    cursor: none;
  }

  header {
    flex-direction: row;
  }

  #cursor {
    position: fixed;
    z-index: 100;
    width: 8px;
    height: 8px;
    background-color: #13e3db;
    border-radius: 50px;
    pointer-events: none;
    background-blend-mode: difference;
    mix-blend-mode: difference;
  }

  #cursorRound{
    position: fixed;
    z-index: 100;
    /* width: 24px;
    height: 24px; */
    background: none;
    border: solid 2px #13e3db;
    border-radius: 50px;
    pointer-events: none;
    background-blend-mode: difference;
    mix-blend-mode: difference;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 0.5, 0.7, 1);
  }

}
